'use strict';

const BaseController = require('./BaseController.js');
const Service        = require('../../services/{%=o.modelName%}Service.js');

const service = new Service(); 

/**
 * 
 * 
 * @class {%=o.modelName%}Controller
 */
class {%=o.modelName%}Controller extends BaseController {
    // add custom methods here

    /**
     * 
     * 
     * @param {Object} req
     * @param {Object} res

     * @static
     * 
     * @memberOf BaseController
     */
    // static methodName(req, res) {
    //     let source = service.methodName(req.model, req.query);

    //     BaseController.subscribe(source, res);
    // }
}

module.exports = {%=o.modelName%}Controller;