'use strict';

const mongoose         = require('mongoose');
const mongoosePaginate = require('mongoose-paginate');
const mongooseDelete   = require('mongoose-delete');

/**
 * Define base schema
 * 
 */
let schema = mongoose.Schema(
    {
        deletedAt: { type: Date, default: null },
        deleted:   { type: Boolean, default: false },
        
        // Put here custom properties
    }, 
    {
        timestamps: { 
            createdAt: 'createdAt',
            updatedAt: 'updatedAt' 
        },
        minimize: false
    }
);

schema.plugin(mongoosePaginate);
schema.plugin(mongooseDelete, { deletedAt : true, overrideMethods: true });

module.exports = mongoose.model('{%=o.modelName%}', schema);