'use strict';

const mongoose         = require('mongoose');
const mongoosePaginate = require('mongoose-paginate');

/**
 * Define base schema
 * 
 */
let schema = mongoose.Schema(
    {
        // Put here custom properties
    }, 
    {
        timestamps: { 
            createdAt: 'createdAt',
            updatedAt: 'updatedAt' 
        },
        minimize: false
    }
);

schema.plugin(mongoosePaginate);

module.exports = mongoose.model('{%=o.modelName%}', schema);