'use strict';

const BaseRepository = require('./BaseRepository.js');

/**
 * 
 * 
 * @class {%=o.modelName%}Repository
 */
class {%=o.modelName%}Repository extends BaseRepository {

    /**
     * Creates an instance of {%=o.modelName%}Repository.
     * 
     * @memberof {%=o.modelName%}Repository
     */
    constructor() {
        super();
    }
}

module.exports = {%=o.modelName%}Repository;