'use strict';

const Rx                            = require('rx');
const BaseService                   = require('./BaseService.js');
const {%=o.modelName%}Repository    = require('../repositories/{%=o.modelName%}Repository.js');

/**
 * 
 * 
 * @class {%=o.modelName%}Service
 */
class {%=o.modelName%}Service extends BaseService {

    /**
     * Creates an instance of {%=o.modelName%}Service.
     * 
     * @memberof {%=o.modelName%}Service
     */
    constructor() {
        super();
        
        this.repository = new {%=o.modelName%}Repository();
    }
}

module.exports = {%=o.modelName%}Service;